/* header */

header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: solid black 1px;
  position: fixed;
  background-color: white;
  z-index: 5
}

nav {
  display: inline-flex;
  justify-content: space-around;
  wrap: flex-wrap;
  margin-right: 20px;
}

.header {
  align-self: center;
  position: center;
  color: MediumAquaMarine;
  padding: 10px 20px;
  background-color: white;
}

.logo {
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
}

a {
  flex-grow: 1;
  display: inline-block;
  padding: 20px 10px;
  color: black;
}

/* content */

.content {
  position: relative;
  top: 50px;
}

.columns {
  padding-right: 16px;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  position: relative;
  display: inline-flex;
  top: 10px;
}

.columns .large {
  flex-wrap: wrap;
  width: 630px;
  margin-right: 32px;
}

.columns .medium {
  flex-wrap: wrap;
  width: 300px;
  margin-right: 32px;
}

.columns .small {
  flex-wrap: wrap;
  width: 240px;
  margin-right: 32px;
}

.columns p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.Story {
  flex-basis: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

/* content image containers */

.mainimage {
  background-image: url('../images/img-story-main.png');
  height: 300px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
}

.substory1 {
  display: flex;
  justify-content: center;
  background-image: url('../images/img-story-2.png');
  margin-top: 15px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.substory2 {
  display: flex;
  background-image: url('../images/img-story-3.png');
  margin-top: 15px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
  text-align: center;
}

.medstoryimage {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('../images/img-story-1.png');
  margin-top: 15px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
